version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 mysite.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_DEBUG=1
    restart: always
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  redis:
    image: redis:alpine

  celery:
    build: .
    command: python -m celery -A mysite worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    environment:
      - DJANGO_DEBUG=1
    env_file:
      - .env

  celery-beat:
    build: .
    command: python -m celery -A mysite beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    environment:
      - DJANGO_DEBUG=1
    env_file:
      - .env

volumes:
  postgres_data:
  static_volume:
  media_volume:
