version: '3.8'

services:
  web:
    build: .
    command: gunicorn mysite.wsgi:application --bind 0.0.0.0:8000 --chdir /app/mysite
    volumes:
      - .:/app
    ports:
      - "80:8000"
    environment:
      - DJANGO_DEBUG=1
    restart: always
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecretpassword123

volumes:
  postgres_data:
